.landing-container {
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('../images/inaki-del-olmo-NIJuEQw0RKg-unsplash.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    color: var(--bs-emphasis-color);
}

.logo {
    margin-bottom: 2rem;
}

.logo img {
    width: 200px;
    height: auto;
    filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.3));
}

.main-heading {
    font-size: 3.5rem;
    text-align: center;
    margin-bottom: 3rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.button-container {
    display: flex;
    gap: 2rem;
}

.main-btn {
    padding: 1rem 2.5rem;
    font-size: 1.2rem;
    border-radius: 30px;
    text-decoration: none;
    transition: all 0.3s ease;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
}

.librarian-btn {
    background-color: var(--primary-color);
    color: var(--bs-emphasis-color);
}

.user-btn {
    background-color: var(--secondary-color);
    color: var(--bs-emphasis-color);
}

.main-btn:hover {
    transform: translateY(-3px);
    box-shadow: var(--bs-emphasis-color);
}
